<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Progress Bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Processando 70%</h1>
  <ion-progress-bar value="0.70" color="danger"></ion-progress-bar>
  <br />
  <br />
  <h1>Processando 50%</h1>
  <ion-progress-bar value="0.50" color="primary"></ion-progress-bar>
  <br />
  <br />
  <h1>Processando indeterminado</h1>
  <ion-progress-bar type="indeterminate" color="dark"></ion-progress-bar>
  <br />
  <br />
  <h1>Processando indeterminado reverso</h1>
  <ion-progress-bar type="indeterminate" color="danger" reversed="true"></ion-progress-bar>
  <br />
  <br />
</ion-content>
