<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Float Action Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Aula FAB</h1>
  Teste linha <br />
  Teste linha <br />  
  Teste linha <br />
  Teste linha <br />
  Teste linha <br />
  Teste linha <br />
  Teste linha <br />
  Teste linha <br />
  Teste linha <br />
  Teste linha <br />
  Teste linha <br />
  Teste linha <br />
  Teste linha <br />
  Teste linha <br />
  Teste linha <br />
  Teste linha <br />
  Teste linha <br />
  Teste linha <br />
  <ion-fab vertical="top" horizontal="end">
      <ion-fab-button>
          <ion-icon name="save" (click)="salvar()"></ion-icon>
      </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="center" horizontal="end">
    <ion-fab-button>
        <ion-icon name="save"></ion-icon>
    </ion-fab-button>
</ion-fab>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
        <ion-icon name="star"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="center" horizontal="center">
    <ion-fab-button>Share</ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  
    <ion-fab-list side="end">
      <ion-fab-button>
        <ion-icon name="logo-pwa"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-npm"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-ionic"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  
    <ion-fab-list side="bottom">
      <ion-fab-button>
        <ion-icon name="logo-github"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-javascript"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-angular"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-chrome"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-react"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
